<div class="container-georges">
  <div class="ecran-interface-george">
    <div class="ecran-interface-george2">
        <div>
          <%= simple_form_for @preference do |f| %>
            <div class="border-radius-10px bg-white w-50 p-2 m-2" >
              Faisons connaissance, moi c'est Georges et toi ?
            </div>
            <div class="d-flex justify-content-end ">
              <div class="border-radius-10px bg-blue w-50 p-2 m-2">
                name
              </div>
            </div>
            <%= f.input :visitor_name, placeholder: "Name", label: false %>

            <div class="border-radius-10px bg-white w-50 p-2 m-2" >
              Tu as prévu de partir ?
            </div>
            <div class="d-flex justify-content-end ">
              <div class="border-radius-10px bg-blue w-50 p-2 m-2">
                roomate
              </div>
            </div>
            <%= f.input :roommate, collection: ["En famille", "Entre potes", "En couple"], label: false %>

            <div class="border-radius-10px bg-white w-50 p-2 m-2" >
              Quel est-ton budget ?
            </div>
            <div class="d-flex justify-content-end ">
              <div class="border-radius-10px bg-blue w-50 p-2 m-2">
                budget
              </div>
            </div>
            <%= f.input :budget, collection: ["Illimité, c'est les vacances", "Modéré, la passion et la raison", "Modeste, je veux faire des économies"], label: false %>

            <div class="border-radius-10px bg-white w-50 p-2 m-2" >
              Ta journée idéale ?
            </div>
            <div class="d-flex justify-content-end ">
              <div class="border-radius-10px bg-blue w-50 p-2 m-2">
                day_activities
              </div>
            </div>
            <%= f.input :day_activities, collection: ["Ski, ski, ski !", "Balades en raquettes", "Luge", "Spa", "Activités insolites"], label: false %>

            <div class="border-radius-10px bg-white w-50 p-2 m-2" >
              Tu es plutôt ?
            </div>
            <div class="d-flex justify-content-end ">
              <div class="border-radius-10px bg-blue w-50 p-2 m-2">
                biological_clock
              </div>
            </div>
            <%= f.input :biological_clock, collection: ["Tranquille, je fais les choses à mon rythme", "Lève tôt pour en profiter au maximum", "Soirées après-ski"], label: false %>

            <div class="border-radius-10px bg-white w-50 p-2 m-2" >
              Ton logement idéal ?
            </div>
            <div class="d-flex justify-content-end ">
              <div class="border-radius-10px bg-blue w-50 p-2 m-2">
                accommodation
              </div>
            </div>
            <%= f.input :accommodation, collection: ["Appart, avec un coin cuisine", "Chalet, du typique", "Hôtel de luxe", "De l'insolite"], label: false %>

            <div class="border-radius-10px bg-white w-50 p-2 m-2" >
              Ton coin idéal ?
            </div>
            <div class="d-flex justify-content-end ">
              <div class="border-radius-10px bg-blue w-50 p-2 m-2">
                spot
              </div>
            </div>
              <%= f.input :spot, collection: ["Au calme, juste la nature et moi", "En bas de la piste, pas de perte de temps !", "Près des bars et de la boite de nuit", "A proximité des commerces"], label:false %>

            <div class="border-radius-10px bg-white w-50 p-2 m-2" >
              Ta soirée idéale ?
            </div>
            <div class="d-flex justify-content-end ">
              <div class="border-radius-10px bg-blue w-50 p-2 m-2">
                night_activities
              </div>
            </div>
            <%= f.input :night_activities, collection: ["Du repos pour être en forme sur les pistes", "La tournée des bars", "Un resto", "Un ciné"], label: false %>


            <%= f.submit "blabla" %>


        </div>
        <div class="d-flex justify-content-end ">
          <div class="border-radius-10px bg-blue w-50 p-2 m-2">

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



