<% if params[:query].present? %>

<div class="banner-index-all d-flex justify-content-center  flex-column">

  <div class="container-title-index-all ">
    <div class="row">
      <div class="index-infos-all">
        <h1 class="title-index-all">Vos stations françaises</h1>
        <p class="all-resorts-p">Retrouve toutes les stations disponibles!</br>
          Parcours skifind afin de trouver <strong>TA</strong> station préférée. </br>
          Mais si tu veux allier envies et ski, n'hésite pas à parler avec Georges!</p>
      </div>
    </div>
  </div>

    <div class="container d-flex justify-content-center">
      <div class="row">
        <div>
          <% @resorts.each do |resort|  %>
            <%= link_to resort_path(resort), class: 'link-without-style' do %>
              <div class="card-product">
                <%= image_tag resort[0].photo_asset, alt: "Tignes", width: 200, class: "img-resort" %>
                <div class="card-product-infos">
                  <%= resort[1] %>
                    <p class="localisation-all"><i class="fas fa-map-marked-alt icon-color"></i> <%= resort[0].resort_address %></p>
                    <div class="info-resort name mb-5">
                      <h3 class="localisation-mountains"> <%= resort[0].mountains %> </h3>
                      <h4 class="titre_h4_go"><%= resort[0].resort_name %></h4>
                    </div>
                    <div class="info-picto-description">
                      <i class="fas fa-skiing pictogramme-color"></i><span> <%=  resort[0].slopes_title%></span>
                      <i class="fas fa-mountain pictogramme-color"></i><span><%= resort[0].altitude %></span>
                      <i class="fas fa-bacon pictogramme-color"></i><span><%= resort[0].kids_garden %></span>
                      <i class="fas fa-snowboarding pictogramme-color"></i><span><%= resort[0].snowpark %></span>
                    </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
