<div class="container-title-index ">
  <div class="row">
    <div class="index-infos">
      <h1 class="title-index">Vos stations françaises</h1>
      <p>Retrouve toutes les stations disponibles!</br>
        Parcours skifind afin de trouver <strong>TA</strong> station préférée. </br>
        Mais si tu veux allier envies et skis, n'hésites pas à parler avec George!</p>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
    <div>
      <% @resorts.each do |resort|  %>
        <%= link_to resort_path(resort[0]), class: 'link-without-style' do %>
          <div class="card-product">
                <%= image_tag resort[0].photo_asset, alt: "Tignes", width: 200, class: "img-resort" %>
            <div class="card-product-infos">

              <%= resort[1] if resort[1] %>%
                <p class="localisation"><i class="fas fa-map-marked-alt icon-color"></i> <%= resort[0].resort_address %></p>
                <div class="info-resort name mb-5">
                  <h4 class="titre_h4"><%= resort[0].resort_name %></h4>
                </div>
                <div class="info-resort-description">
                  <p><%=  resort[0].resort_description%></p>
                </div>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>

<!------------------------------Georges's index ------------------------->

<div class="container-title d-flex justify-content-center">
  <h3>Voici la meilleure sélection que je t'ai trouvé :</h3>
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
    <% @resorts.each do |resort| %>
      <div class="col-12 col-lg-4">
       <%= resort[1] %>%
        <div class="card">
          <div class="card-choose2">
            <%= image_tag resort[0].photo_asset, alt: "Tignes", class: "photo" %>
            <%= image_tag resort[0].resort_name.downcase + '-logo.png', class: 'logo' %>
            <h5><%= resort[0].resort_name %></h5>

            <% resort[0].preference.attributes.except("id", "created_at", "updated_at", "spot", "biological_clock", "kilometers").each do |k,v| %>

              <p class="d-flex justify-content-between"><%= v %><i class="fas fa-check green-tick"></i></p>
        
                
            <% end %>
          </div>
        </div>       
      <p class="localisation"><i class="fas fa-map-marked-alt icon-color"></i> <%= resort[0].mountains %></p>
      </div>
    <% end %>  
  </div>
</div> 
