<div class="container-title-index ">
  <div class="row">
    <div class="index-infos">
      <h1 class="title-index">Vos stations françaises</h1>
      <p>Retrouve toutes les stations disponibles!</br>
        Parcours skifind afin de trouver <strong>TA</strong> station préférée. </br>
        Mais si tu veux allier envies et skis, n'hésites pas à parler avec George!</p>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
    <div>
      <% @resorts.each do |resort|  %>
        <%= link_to resort_path(resort[0]), class: 'link-without-style' do %>
          <div class="card-product">
                <%= image_tag resort[0].photo_asset, alt: "Tignes", width: 200, class: "img-resort" %>
            <div class="card-product-infos">

              <%= resort[1] if resort[1] %>%
                <p class="localisation"><i class="fas fa-map-marked-alt icon-color"></i> <%= resort[0].resort_address %></p>
                <div class="info-resort name mb-5">
                  <h4 class="titre_h4"><%= resort[0].resort_name %></h4>
                </div>
                <div class="info-resort-description">
                  <p><%=  resort[0].resort_description%></p>
                </div>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>

<!------------------------------Georges's index ------------------------->

<div class="container-title d-flex justify-content-center">
  <h3>Voici la meilleure sélection que je t'ai trouvé :</h3>
</div>

<div class="container d-flex justify-content-center">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-choose2">
          <h5 class="card-title">Tignes</h5>

              <img class="logo" src="https://www.skipass-tignes.com/media/image/tignesb2c/cms/media/2020-2021/Images/TIGNES_LOGO2020_300px.png">


                  <p class="d-flex justify-content-between">station amicale<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">budget large<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">nombreuses pistes<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">pour les lève-tôt<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">beaucoup d'appart à louer<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">commerces réguliers<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">ciné présent<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">enneigement<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">en train ?<i class="fas fa-times red-cross"></i></p>

              <p class="card-text"></p>
            <div class="site-officiel">
              <a class="buton-primary" target="_blank" href="https://www.tignes.net/">Site officiel</a>
            </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-choose1">
          <h5 class="card-title">Vars</h5>

            <img class="logo" src="https://play-lh.googleusercontent.com/E8SyrxgdMubvOXtvHetgX5fvlodFoyP31WRt1ZrHVeXBqGmgvMzajj2qPx-wzRlSBac=s180-rw">

                  <p class="d-flex justify-content-between">station amicale<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">budget large<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">nombreuses pistes<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">pour les lève-tôt<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">beaucoup d'appart à louer<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">commerces réguliers<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">ciné présent<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">enneigement<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">en train ?<i class="fas fa-times red-cross"></i></p>

              <p class="card-text"></p>
            <div class="site-officiel">
              <a class="buton-primary" target="_blank" href="https://www.vars.com/ete/">Site officiel</a>
            </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-choose3">
          <h5 class="card-title">Avoriaz</h5>

            <img class="logo" src="https://monoski-france.com/newsite/wp-content/uploads/2016/06/avoriazlogo.jpg.gif">

                  <p class="d-flex justify-content-between">station amicale<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">budget large<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">nombreuses pistes<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">pour les lève-tôt<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">beaucoup d'appart à louer<i class="fas fa-check green-tick"></i></p>


                  <p class="d-flex justify-content-between">commerces réguliers<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">ciné présent<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">enneigement<i class="fas fa-times red-cross"></i></p>


                  <p class="d-flex justify-content-between">en train ?<i class="fas fa-times red-cross"></i></p>

              <p class="card-text"></p>
            <div class="site-officiel">
              <a class="buton-primary" target="_blank" href="https://www.avoriaz.com/">Site officiel</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
